{% extends 'listings/base.html' %}

{% block content %}
    <div style="  background-color: #f5f5f5; padding: 20px; border: 1px solid #e1e1e1; border-radius: 5px; margin: 20px;">
        <h2>{{ band.name }}</h2>
        <ul style="list-style-type: none; padding: 0;">
            <li>Genre : {{ band.get_genre_display }}</li>
            <li>Année de formation : {{ band.year_formed }}</li>
            <li>Actif : {{ band.active|yesno:"oui,non" }}</li>
            {% if band.official_homepage %}
                <li><a href="{{ band.official_homepage }}">{{ band.official_homepage }}</a></li>
            {% endif %}
        </ul>
        <p style="margin-top: 20px;">{{ band.biography }}</p>
        <a href="{% url 'band-list' %}" class="return-link">Retour à tous les groupes</a>
    </div>
{% endblock %}


